<div id="controlPanel" style="background:lightgray; position:absolute; width: 100%; height: 100%">

	<div id="remoteSites" style="position:absolute; left:0px; top: 0px; width: 50%; height: 100%;
		border:1px solid black">
			<div id="rs_title">
				&nbsp&nbspRemote Sites
			</div>
			<br>
			<br>
			<div id="rs_sites">
			</div>
	</div>

	<div id="shareModeDiv" style="position:absolute; left:50%; top: 0px; width: 50%; height: 100%;
		border:1px solid black">
		<div id="sm_title" style="width: 100%;">
				&nbsp&nbspShare Mode
		</div>
		<br>
		<br>
		<button id="sm_btn_none" style="margin-left: 5%; width: 90%;">
			None
		</button>
		<br>
		<br>
		<button id="sm_btn_anyNewApp" style="margin-left: 5%; width: 90%;">
			Any New Application
		</button>
	</div>
</div>