#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#dialogLogo {
	margin: auto;
	height: 33%;
	width: 33%;
}



#dialogLogoImage {
	max-width:100%; 
	max-height:100%;
}

#settingsDialog {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#settingsDialog input {
	width: 95%;
}

#settingsDialog td {
	text-align: center;
	vertical-align: middle;
}

.button {
	padding: 10px 12px 10px 12px;
	border-radius: 12px;
	color: #FFFFFF;
	background-color: #787878;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#pushBtn {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#closeBtn {
	position: absolute;
	right: 90px;
	bottom: 10px;
}

.button:active {
	background-color: #565656;
}


.dialog {
	display: none;
	position: absolute;
	border: 4px solid #787878;
	border-radius: 12px;
	background-color: #FFFFFF;
	z-index: 10002;
	overflow: hidden;
	cursor: default;
	width: 50%;
	height: 20%;
}
